* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.Inicio {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex-direction: row;
  width: 100%;
}

.Menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin: 10px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
li:hover{
  color:#FC5E23;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  display: flex;
}
.servico{
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/* Cards */
.cards{
  display: flex;
  justify-content: center;
  width: 77%;
  margin: 20px;
}
.card{
  margin-left: 50px;
  margin-right: 60px;
  width: 340px;
  height: 550px;
  padding: 24px;
   border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: white;
  max-width: 300px;
  font-family: sans-serif;
}
.card>img{
  width: 100%;
  border-radius: 25px;
}
.card>h2{
  margin-top: 5px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.card>p{
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.btn{
  background-color: #FC5E23;
  padding: 5px 20px;
  color: white;
  border-radius: 24px;
  border: none;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.btn:hover{
  background-color: black;
  color: #FC5E23;
}
/* Parte do Mapa*/
.informacoes {
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59%;
  border-radius: 15px;
}
.mapa {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;

}
.imgmapa {
  border-radius: 10px;
  margin: 5px;
}
.mapa > h3{
  color: white;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  align-items: center;
}
/* Formulário */
.tituloformulario{
  color: #FC5E23;
  font-size: 27px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.dadosForm{
  color: white;
}
form{
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 0 auto;
}

.formulario{
  padding: 30px;
  border: #FC5E23  solid 1px;
  border-radius: 24px;
  padding-top: 30px;
}
.nome{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
}
label{
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  align-items: center;
  margin-bottom: 5px;
}
input, select, textarea{
  width: 100%;
  padding: 1px;
  border: 1px solid white;
  outline: none;
  background-color: black;
  border: none;
  color: white;
}
button{
  padding: 1px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  background-color: #FC5E23;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: white;

}
.rodape{
  background-color: #FC5E23;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 400px;
}
.rodape2{
  background-color: black;
  width: 100%;
  height: 300px;
}
.caixa{
  background-color: black;
  width: 100%;
  height: 200px;
}
.rodape>h1{
  font-size: 56px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: white;
}